
body {
    position: relative;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photograph-header {
    background-color: #FAFAFA;
    width: 90%;
    height: 313px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photograph-header button {
    width: 170px;
    height: 69px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
}
.photographer-details {
    order: 1;
    padding: 40px;
}
.photographer-details-tl .location {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.25px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.photographer-details-tl .tagline {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
 }

h1 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
}

.photographer-img {
    order: 3;
}
.photographer-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.photographer-insert {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #DB8876;
    width: 376px;
    height: 89px;
    border-radius: 5px;
}
.photographer-insert h3 {
    color: #000000;
    font-size: 24px;
}
.sort-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}
.sort-label {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    margin-right: 10px;
}
.sort-select {
    background-color: #901C1C;
    border: none;
    color:#ffffff;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}
.sort-option {
    border: 2px solid yellow;
}
.medias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    width: 90%;
}
.medias article {
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 300px;
}
.media {
    width: 100%;
    height: 80%;
}

.media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.media video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.titleMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    align-items: center;
}
.titleMedia h3 {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    color:#901C1C;
}


.heartDiv {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.heartDiv p {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    color:#901C1C;
}
.heartIcon {
    color:#901C1C;
    font-size: 24px;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}


.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.modal header img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.modal header h2 {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}


#contact_modal {
    display: none;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#precisions {
    width: 100% !important; 
    height: 170px;
    resize: none;
}

.mySlides img {
    object-fit: cover;
}
.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex button {
    border: none;
    background-color: #DB8876;
}
.flex button span {
    color: #000000;
}





